// Colors
$primary-color: rgb(209, 166, 67);
$primary-lighter-color: rgb(242, 201, 109);
$primary-darker-color: rgb(178, 135, 36);

$lightShade-color: rgb(240, 242, 236);
$lightShade-lighter-color: rgb(98.4%, 98.4%, 98.4%);
$lightShade-darker-color: rgb(83.9%, 85.9%, 79.6%);

$lightAccent-color: rgb(51%, 52.2%, 51.4%);
$lightAccent-lighter-color: rgb(63.9%, 64.7%, 64.3%);
$lightAccent-darker-color: rgb(38.8%, 40.8%, 39.6%);

$darkShade-color: rgb(27.8%, 24.7%, 26.7%);
$darkShade-lighter-color: rgb(42.7%, 38.4%, 41.2%);
$darkShade-darker-color: rgb(10.2%, 8.6%, 9.8%);

$darkAccent-color: rgb(58%, 28.6%, 19.2%);
$darkAccent-lighter-color: rgb(70.2%, 41.2%, 31.8%);
$darkAccent-darker-color: rgb(43.5%, 16.9%, 8.2%);

// Fonts
$primary-font: "Roboto", sans-serif;
$code-font: "Maven Pro", serif;
$brand-font: "Frank Ruhl Libre", sans-serif;
