.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
  background-color: $darkShade-color;
  border-top: $lightShade-color solid 1px;

  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;

    .copyright-text {
      align-self: center;
      font-family: $primary-font;
      font-weight: 400;
      font-size: 20px;
      margin: 10px;
      color: $lightAccent-color;
    }

    .link-wrapper {
      align-self: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .link {
        padding: 15px;
        text-align: center;
        font-family: $primary-font;
        font-weight: 400;
        font-size: 16px;
        text-decoration: none;
        color: $lightAccent-color;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
